<div class="background-container angle--top-left">
  <div class="background angle--top-left">
    <div class="projects-pane-container" fxLayout="column">
      <article fxLayout="column wrap" fxLayout.gt-md="row wrap" fxFlexFill>
        <div fxFlex="50%" class="text-box-container">
          <mat-card class="text-box">
            <mat-card-title>Projects</mat-card-title>
            <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-between">
              lalala
            </mat-card-content>
          </mat-card>
        </div>

        <div fxFlex="50%" fxLayout="column" class="bars-container">

        </div>

      </article>
      <div class="mouse-container">
        <app-scroll-button targetPane='pane5'></app-scroll-button>
      </div>
    </div>
  </div>
</div>
