<div class="background-container angle--top-left">
  <div class="background angle--top-left">
    <div class="projects-pane-container" fxLayout="column">
      <article fxLayout="column wrap" fxLayout.gt-md="row wrap" fxFlexFill>
        <div fxFlex="50%" class="text-box-container">
          <mat-card class="text-box">
            <mat-card-title>Projects</mat-card-title>
            <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-between">
              <p>
              I completed my first commercial project when I was still a student,
              it was a real-time monitoring system for a gold mine in Siberia.
              The system received data about energy comsumption from the industrial
              pumps, processed, stored and displayed it via web-interface.
              After that I did some part-time freelance at times, being busy graduating.
              </p>
              <p>
              Having finished that I got employed by Tile.Expert. There I built
              an internal web portal for the company’s employees, it was built on
              Angular / Symfony / MongoDB stack. The project was hard by many reasons,
              and it gave me tons of experience developing and supporting a large real-world project.
              </p>
            </mat-card-content>
          </mat-card>
        </div>

        <div fxFlex="50%" fxLayout="column" class="projects-container">
          <app-project  img="assets/pics/projects/ror_react.png"
                        url="https://te.remote.team/#/"
                        name="Tile.Expert Portal"
                        stack="AngularJS, Symfony2, MongoDB"
                        description="The internal web-portal for Tile.Expert employees,
combining many features from a rich forum functionality to the complex task scheduling
system, as well as cross-site data flow, statistics, notifications and much more.">
          </app-project>
          <app-project  img="assets/pics/projects/ror_react.png"
                        url="https://safe-lowlands-72747.herokuapp.com/spreadsheet"
                        name="Ruby on Rails + React"
                        stack="Ruby on Rails, React, MongoDB"
                        description="Test project">
          </app-project>
          <app-project  img="assets/pics/projects/vue_store.png"
                        url="http://vue-store.com.s3-website.us-east-2.amazonaws.com/"
                        name="Web Store on NuxtJS"
                        stack="Vue, NodeJS, Bootstrap 4"
                        description="Test project">
          </app-project>
        </div>

      </article>
      <div class="mouse-container">
        <app-scroll-button targetPane='pane5'></app-scroll-button>
      </div>
    </div>
  </div>
</div>
