<article class="flex-center rainy-day-container">
  <div class="image-wrap">
    <app-image path="assets/pics/header" fullscreen="0.6875"></app-image>
  </div>
  <div class="rain first-row">
    <ng-template front-rain></ng-template>
  </div>
  <div class="rain second-row">
    <ng-template back-rain></ng-template>
  </div>
  <h1>Meet Yuri,</h1>
  <h2>a full-stack web developer</h2>
  <div class="mouse-container">
    <app-scroll-button targetPane='pane2'></app-scroll-button>
  </div>
</article>
