@import 'src/styles/variables';
$margin: 1vmin;

header {
  position: fixed;
  height: $menu-size;
  width: 100%;
  z-index: 100;
  background: $menu-color;
}

#logo {
  width: calc(#{$menu-size} - #{$margin});
  height: calc(#{$menu-size} - #{$margin});
  background: url('assets/pics/logo.svg') no-repeat center;
  background-size:contain;
  margin: $margin;
  opacity: 0.5;
  box-shadow: 0 0 $margin gray;
  border-radius: $menu-size / 2;
}

nav {
  a {
    height: $menu-size;
    width: $menu-size;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .active {
    border-right: none;
    border-left: none;
    border-bottom: solid orange;
    border-top: solid transparent;
  }
}

#links {
  min-width: $menu-size;
  min-height: $menu-size;
}

a {
  color: gray;
}
a:active, a:hover, a:focus {
  color: orange;
}

@media screen and (min-width: 600px) {
  header {
    position: fixed;
    width: $menu-size;
    height: 100%;
  }

  nav .active {
    border-right: solid orange;
    border-left: solid transparent;
    border-bottom: none;
    border-top: none;
  }
}
