@import 'src/styles/variables';
$margin: 0.5vmin;

header {
  position: fixed;
  height: $menu-size;
  width: 100%;
  z-index: 100;
  background: $menu-color;
}

#logo {
  width: calc(#{$menu-size} - 2*#{$margin});
  height: calc(#{$menu-size} - 2*#{$margin});
  margin: $margin;
  opacity: 0.5;
  box-shadow: 0 0 $margin gray;
  border-radius: $menu-size / 2;

  img { width: 100%; }
}

nav {
  a {
    height: $menu-size;
    width: $menu-size;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .active {
    border-right: none;
    border-left: none;
    border-bottom: solid mat-color($app-primary, 500);
    border-top: solid transparent;
  }
}

#links {
  min-width: $menu-size;
  min-height: $menu-size;
}

a {
  color: gray;
}
a:active, a:hover {
  color: mat-color($app-primary, 400);;
}

@media screen and (min-width: 600px) {
  header {
    position: fixed;
    width: $menu-size;
    height: 100%;
  }

  nav .active {
    border-right: solid mat-color($app-primary, 500);;
    border-left: solid transparent;
    border-bottom: none;
    border-top: none;
  }
}
