<header fxLayout="row" fxLayout.gt-xs="column" fxLayoutAlign="space-between center">
  <a href="#pane1">
    <div id="logo"></div>
  </a>
  <nav  fxLayout="row"
        fxLayout.gt-xs="column"
        fxLayoutAlign="space-between center"
        fxLayoutGap="2vmin">
    <a href="#pane1"><mat-icon>home</mat-icon></a>
    <a href="#pane2"><mat-icon>person</mat-icon></a>
    <a href="#pane3"><mat-icon>settings</mat-icon></a>
    <a href="#pane4"><mat-icon>email</mat-icon></a>
  </nav>
  <div id="links"
        fxLayout="row"
        fxLayout.gt-xs="column"
        fxLayoutAlign="center center"
        fxLayoutGap="2vmin">
          <a href="https://www.linkedin.com/in/yuri-drobkov-4219b1167/">
            <i class="fab fa-linkedin"></i>
          </a>
  </div>
</header>
