@import 'material-orange';

$menu-size: 12vmin;
$max-menu-size: 50px;

$menu-color: #181818;
$background-1: #222;
$background-2: #333;
$background-3: #444;
$background-4: #555;

$menu-breakpoint: 600px;
$flex-breakpoint: 1280px;

$width:100vw;
$height:100vh;

$slope-offset: 8vw;
$pane-border: 4px;

$mouse-width: 2.5rem;

$project-img-size: 15vmin;
$max-project-img-size: 200px;

$title-font: Raleway,Yorkten,Arial,sans-serif;

%hardware {
  backface-visibility: hidden;
  perspective: 1000;
}

%image-wrap {
	text-align: center;
	overflow: hidden;
}
