@mixin raindrops($quantity: 75, $width: 100vw, $height: 100vh) {

  $raindrop-bkg: 'assets/pics/xs/stained-glass-background-drop.webp';

  // set all the containers to
  // position:absolute, since
  // they will overlap
  .raindrops,
  .borders,
  .drops{
    position:absolute;
  }

  .raindrops {
    top: 0;
  }

  // little brightness filter so our raindrops look shiny
  .drops{
    filter: brightness(1.2);
  }

  // general settings for all the
  // raindrops and borders
  .raindrop {
  	position: absolute;
    border-radius: 100%;
  	background-image: url($raindrop-bkg);
  	background-size: $width*0.05 $height*0.05;
    background-position: 50%;
  	transform: rotate(180deg) rotateY(0);
  }
  .border {
  	position: absolute;
  	margin-left: 2px;
  	margin-top: 1px;
  	border-radius: 100%;
    transform: rotateY(0);
  }

  // looping through each one of them
  @for $i from 1 through $quantity{

    // generates a random number from 0 to 1, for the positioning
    $x:random();
    $y:random();

    // Random raindrop size and stretching.
    // Since each raindrop has different sizes, we'll do our sizing calculations here instead of on the main .raindrop selector
   	$drop-width:5px+random(11);
   	$drop-stretch:0.7+(random()*0.5);
  	$drop-height:$drop-width*$drop-stretch;
  	.raindrop:nth-child(#{$i}){
  		// multiply the random position value by the container's size
  		left:$x * $width;
  		top:$y * $height;

  		width:$drop-width;
  		height:$drop-height;
      background-position:percentage($x) percentage($y);
  	}

  	.border:nth-child(#{$i}){
  		// we'll do the same positioning for the drop's border
  		left:$x * $width;
  		top:$y * $height;

  		width:$drop-width - 4;
  		height:$drop-height;
  	}
  }
}
