@import 'src/styles/variables';

pane {
  display: block;
  position:relative;
  width: 100%;
  min-height: $height;
}

// q {
//   quotes: "“" "”" "‘" "’";
// }
// q:before {
//   content: open-quote;
// }
// q:after {
//   content: close-quote;
// }
#app-container, #content-container{
  width: 100%;
  overflow-x: hidden;
}
#pane1, #pane2, #pane5 {
  overflow:hidden;
}
#pane2 {
  border-top: solid $pane-border mat-color($app-primary, 500);
}

#left-offset {
  max-width: $max-menu-size;
  height: 100vh;
  width: 0;
}

@media screen and (min-width: $menu-breakpoint) {
  #left-offset {
    width: $menu-size;
  }
}
