@import 'src/styles/variables';

pane {
  display: block;
  position:relative;
  width: 100%;
  min-height: calc(#{$height} - #{$max-menu-size});
}

// q {
//   quotes: "“" "”" "‘" "’";
// }
// q:before {
//   content: open-quote;
// }
// q:after {
//   content: close-quote;
// }
#app-container, #content-container{
  width: 100%;
  overflow-x: hidden;
}
#pane1, #pane2, #pane5 {
  overflow:hidden;
}
#pane1 {
  // height: calc(#{$height} - #{$max-menu-size});
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
#pane2 {
  border-top: solid $pane-border mat-color($app-primary, 500);
}

#offset {
  position: fixed;
  width: 100%;
  max-height: $max-menu-size;
  height: $menu-size;
}


@media screen and (min-width: $menu-breakpoint) {
  #pane1 {
    height: initial;
  }

  #offset {
    height: 100%;
    max-width: $max-menu-size;
    width: $menu-size;
  }

  pane {
    min-height: $height;
  }
}
