@import 'src/styles/variables';

pane {
  display: block;
  position:relative;
  width: 100%;
  min-height: $height;
}

q {
  quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}
#app-container{
  width: 100%;
  overflow-x: hidden;
}
#pane1, #pane2, #pane5 {
  overflow:hidden;
}
#pane2 {
  border-top: solid $pane-border mat-color($app-primary, 500);
}

@media screen and (min-width: $menu-breakpoint) {
  #content-container {
    margin-left: $menu-size;
    max-width: calc(100vw - #{$menu-size});
  }
}
