<section id="app-container" fxLayout="row">
  <app-menu></app-menu>
  <div id="left-offset"></div>
  <section id="content-container" fxLayoutFill>
    <pane id="pane1">
      <app-rainy-day [frontRaindrops]="frontRaindrops" [backRaindrops]="backRaindrops"></app-rainy-day>
    </pane>
    <pane id="pane2">
      <app-window-pane></app-window-pane>
    </pane>
    <pane id="pane3">
      <app-skills-pane></app-skills-pane>
    </pane>
    <pane id="pane4">
      <app-projects-pane></app-projects-pane>
    </pane>
    <pane id="pane5">
      <app-contact-pane></app-contact-pane>
    </pane>
  <section>
<section>
