@import 'src/styles/variables';

.mouse {
  max-width: $mouse-width;
  width: 100%;
  height: auto;
}

.scroll {
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
  animation-iteration-count: infinite;
  transform-origin: 50% 20.5px;
  will-change: transform, opacity;
  opacity: 1;
}

.scroll-link {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;

  circle {
    fill: mat-color($app-primary, 200);
  }
  rect {
    stroke: mat-color($app-primary, 200);
  }
}

@keyframes scroll {

  0%, 20% {
    transform: translateY(0) scaleY(1);
  }

  100% {
    transform: translateY(36px) scaleY(2);
    opacity: 0;
  }

}

#more-arrows {
	width: 75px;
  height: 65px;
  transform: rotate(180deg);
  margin: 1vmin;
  cursor: pointer;

  &:hover {

    polygon {
      fill: mat-color($app-primary, 200);
      transition: all .2s ease-out;

      &.arrow-bottom {
        transform: translateY(-18px);
      }

      &.arrow-top {
        transform: translateY(18px);
      }

    }

  }

}

polygon {
  fill: mat-color($app-primary, 200);
  transition: all .2s ease-out;

  &.arrow-middle {
	  opacity: 0.75;
	}

	&.arrow-top {
	  opacity: 0.5
	}

}
