@import 'src/styles/variables';

.polaroid {
	@extend %hardware;
	position: relative;
	background: #dbdbdb;
	padding: 1vmin;
	text-align: center;
	box-shadow: 1px 1px 3px #222;

  span {
    font-family: Cedarville,Yorkten,Arial,sans-serif;
    font-size: 2vmin;
		margin: 1vmin 0;
		display: block;
		cursor: default;
  }
}
.photo {
  background-size: cover;
  background-position: 50% 50%;
  width: 30vmin;
  height: 30vmin;
}
