<div class="background"></div>
<div class="skills-pane-container">
  <article fxLayout="column wrap" fxLayout.gt-md="row wrap" fxFlexFill>
  <div fxFlex="50%" class="pics-container">
  </div>
    <div fxFlex="50%" class="text-box-container">
      <mat-card class="text-box">
        <mat-card-title>Skillz</mat-card-title>
        <mat-card-content>
          <p>

          </p>
          <p>
            Front End:
            * Javascript: ES6, Angular, React, Redux, Vue, Typescript, ...
            * HTML/CSS: SASS, LESS, Responsive/Adaptive Design,
            Back End:
            * NodeJS: ExpressJS, SailsJS, Meteor,
            * PHP: Symfony2, Bitrix, MODX,
            * Ruby: Ruby on Rails,
            * DBs: MongoDB, MySQL, PostgreSQL,

            Unit Tests:
            * RSpec, Jest, Chai, Enzyme,
            Other:
            * AWS, Heroku, Linux, Git, Webpack, Grunt, C++, Lisp, Python, ...
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </article>
</div>
