<div class="slope-background-container angle--top-right">
  <div class="slope-background angle--top-right">
    <div class="slope-pane-container" fxLayout="column" fxLayoutAlign="space-between">
      <article fxLayout="column wrap" fxLayout.gt-md="row wrap" fxFlexFill>
        <div fxFlex="50%" fxLayout="column" class="bars-container">
          <div *ngIf="showContent">
            <app-skill-bar *ngFor="let skill of skillset; let i=index" [delay]="i*50"
            [skill]="skill.name" [percentage]="skill.proficiency"></app-skill-bar>
          </div>
        </div>
        <div fxFlex="50%" class="text-box-container">
          <mat-card *ngIf="showContent" @textbox class="text-box">
            <mat-card-title>Skills & Experience</mat-card-title>
            <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-between">
              <div fxFlex="45%">
                <h2 class="box">Languages</h2>
                <ul>
                  <li>Javascript (ES6)</li>
                  <li>Typescript</li>
                  <li>Ruby</li>
                  <li>C (C++, C#)</li>
                  <li>Python</li>
                  <li>Lisp</li>
                </ul>
              </div>
              <div fxFlex="45%">
                <h2 class="box">Methods & Tools</h2>
                <ul>
                  <li>Linux</li>
                  <li>Git</li>
                  <li>AWS</li>
                  <li>Heroku</li>
                  <li>Redux</li>
                  <li>SASS</li>
                  <li>Adaptive Design</li>
                  <li>Webpack</li>
                  <li>Grunt</li>
                </ul>
              </div>
              <div fxFlex="45%">
                <h2 class="box">Frameworks & Libs</h2>
                <ul>
                  <li>Angular</li>
                  <li>React</li>
                  <li>Vue</li>
                  <li>Symfony2</li>
                  <li>Ruby on Rails</li>
                  <li>NodeJS</li>
                  <li>ExpressJS</li>
                  <li>Meteor</li>
                </ul>
              </div>
              <div fxFlex="45%">
                <h2 class="box">DBs & Unit Tests</h2>
                <p>
                  <ul>
                    <li>MongoDB</li>
                    <li>MySQL</li>
                    <li>PostgreSQL</li>
                    <li>RSpec</li>
                    <li>Jest</li>
                    <li>Chai</li>
                    <li>Enzyme</li>
                  </ul>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </article>
      <div class="mouse-container">
        <app-scroll-button targetPane='pane4'></app-scroll-button>
      </div>
    </div>
  </div>
</div>
