@import 'src/styles/variables';

.background {
  background: #333333;
  width: 110%;
  height: 150%;
  position: absolute;
  clip-path: polygon(0 0, 100% 10%, 100% 80%, 0 90%);
  margin-top: -$slope-offset;
  z-index: 25;
}
