@import 'src/styles/variables';
$image: 'https://d.ibtimes.co.uk/en/full/1397606/coding-curriculum-classroom-world.jpg';

.blurred {
  position: absolute;
  width: calc(#{$width} + 4*#{$blur});
  height: calc(100% + 4*#{$blur});
  background:url($image);
  background-size:cover;
  background-position:50%;
  filter:blur($blur);
  margin: calc(-2*#{$blur});
}
