@import 'src/styles/variables';
@import 'src/styles/angled-edges';
@import 'src/styles/mixins';

.slope-background {
  background: $background-3;
}

.content-container {
  min-height: calc(75vh - #{$slope-offset});
  color: mat-color($app-primary, 400);
}

.social {
  font-size: 3rem;

  a {
    margin: 1vmin;
  }
}

.form-container {
  max-width: 50vh !important;
  width: 100%;
  margin: 1vmin;
}

.mouse-container {
  height: 100px;
}
