<article class="slope-background-container angle--top-right">
  <div class="slope-background angle--top-right">
    <div id="particles"></div>
    <div fxLayout="column" fxLayoutAlign="space-between" class="slope-pane-container">
      <article fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="5vh" class="contact-content-container" >

        <div *ngIf="showContent" @fadeInDown>
          <h1>Contact me</h1>
        </div>
        <div *ngIf="showContent" @fadeIn class="form-container">
          <form action="https://formspree.io/moorindal@ymail.com" method="POST"
                fxLayout="column" fxLayoutAlign="start stretch">
            <mat-form-field>
              <input type="text" name="name" matInput placeholder="Name">
            </mat-form-field>
            <mat-form-field>
              <input type="email" name="_replyto" matInput placeholder="Email">
            </mat-form-field>
            <mat-form-field>
              <textarea type="text" name="message" matInput placeholder="Message"></textarea>
            </mat-form-field>
            <button type="submit" fxFlexAlign="center" mat-stroked-button color="primary">Send</button>
          </form>
        </div>
        <div *ngIf="showContent" @fadeInUp class="social">
          <a href="https://www.linkedin.com/in/yuri-drobkov-4219b1167/" title="LinkedIn">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://www.instagram.com/nameless_berk/" title="Instagram">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://github.com/BerekHalfhand/portfolio" title="Github repo of this site">
          <i class="fab fa-github-square"></i>
          </a>
        </div>

      </article>
      <div class="mouse-container flex-center">
        <app-scroll-button *ngIf="showContent" @arrow targetPane='pane1' [isArrow]="true"></app-scroll-button>
      </div>
    </div>
  </div>
</article>
