@import 'src/styles/variables';
// @import 'src/styles/angled-edges';
@import 'src/styles/mixins';

#particles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slope-background {
  background: $background-3;
}

.contact-content-container {
  z-index: 20;
  min-height: calc(50vh - #{$slope-offset});
  margin: auto;
  min-width: 80%;
  color: mat-color($app-primary, 400);
}

.title-wrap {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.form-container {
  width: 100%;
  margin: 1vmin;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

@media screen and (min-width: $menu-breakpoint) {
  .contact-content-container {
    min-width: 50vw;
  }
  .form-container {
    max-width: 50vw !important;
  }
}
@media screen and (min-width: $flex-breakpoint) {
  .contact-content-container {
    min-width: 33vw;
  }
  .form-container {
    max-width: 33vw !important;
  }
}

.social {
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  a {
    margin: 1vmin;
  }
}

.mouse-container {
  height: 100px;
  z-index: 10;
}

.mat-form-field-underline {
  background-color: mat-color($app-primary, 200) !important;
}
.mat-form-field-label {
  color: mat-color($app-primary, 200) !important;
}
.mat-focused .mat-form-field-label {
  color: mat-color($app-primary, 500) !important;
}
