@import 'src/styles/variables';
@import 'src/styles/mixins';

@mixin styling($size, $percentage-padding) {
    .bar {
      margin: 0 0 ($size / 2) 0;
      height: $size;
    }
    .percentage {
      height: calc(#{$size} - 2*#{$percentage-padding});
      min-width: calc(#{$size} - 2*#{$percentage-padding});
      margin-right: -($size / 3);
      padding: $percentage-padding;
    }
}

@media screen and (max-width: $menu-breakpoint - 1) {
  @include styling($size: 20px, $percentage-padding: 0.5px);
}
@media screen and (min-width: $menu-breakpoint) {
  @include styling($size: 2vmax, $percentage-padding: 0.1vmax);
}
@media screen and (min-width: 1900px) {
  @include styling($size: 30px, $percentage-padding: 1px);
}

.bar {
  width: 100%;
  background-color: $background-3;
  cursor: default;
  @extend %hardware;
}

.percentage {
  background-color: mat-color($app-primary, 700);
  webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  @include responsive-font(0.8rem, 9px, 14px);
}

.bars-container {
  z-index: 24;
  padding: 10vw 10vw 0 10vw;
}


.fill-wrap {
  width: 100%;
  overflow: hidden;
}

.fill {
  background-color: mat-color($app-primary, 500);
  height: 100%;
}

.caption {
  background-color: mat-color($app-primary, 300);
  height: 100%;
  width: 115px;
  @include responsive-font(0.9rem, 10px, 16px);
}
