@import 'src/styles/variables';
@import 'src/styles/mixins';

.project-wrap {
  margin: 0 -3% 1% 0;
  padding: 1%;
  background: rgba(0,0,0, .5);
  color: white;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

h4 {
  font-family: $title-font;
}

.picture {
  width: $project-img-size;
  height: $project-img-size;
  max-width: $max-project-img-size;
  max-height: $max-project-img-size;
  @extend %image-wrap;
}

.stack {
  margin-bottom: 2vh;
}

.description {
  padding-right: 3vw;
  text-align: justify;
  @include responsive-font(.9rem, 10px, 16px);
}
