@import 'src/styles/variables';
@import 'src/styles/mixins';

article {
  margin: 0 -3% 1% 0;
  padding: 1%;
  background: rgba(0,0,0, .5);
  color: white;
}

.cover {
  width: $project-img;
  height: $project-img;

  img {
    max-width: 100%;
    width: $project-img;
    height: $project-img;
  }
}

.stack {
  margin-bottom: 2vh;
}

.description {
  padding-right: 2vw;
  text-align: justify;
  @include responsive-font(.9rem, 10px, 16px);
}
