<article class="window-pane-container" fxLayout="column" fxLayoutAlign="space-between">
  <div>
    <div class="window">
      <app-image path="assets/pics/stained-glass-background" fullscreen="0.75"></app-image>
    </div>
    <div class="raindrops">
      <div class="borders">
        <div class="border" *ngFor="let i of [].constructor(75)"></div>
      </div>
      <div class="drops">
        <div class="raindrop" *ngFor="let i of [].constructor(75)"></div>
      </div>
    </div>
    <article fxLayout="column wrap" fxLayout.gt-md="row wrap" class="window-content-container">
      <div fxFlex="50%" class="text-box-container">
        <mat-card *ngIf="showContent" @textbox class="text-box">
          <mat-card-title class="pane-title">About</mat-card-title>
          <mat-card-content>
            <p>
              I'm Yuri Drobkov, a digital nomad from Siberia, Russia. My path as a web
              developer started in the university, as I got hired part-time by another
              university to help them complete a narrowly specialized analytical web app.
            </p>
            <p>
              After graduation, I was employed by <a href="https://tile.expert/">Tile.Expert</a>,
              working remotely and traveling the world at the same time. I'm never sitting
              in an office again, the remote way proved to be far superior.
            </p>
            <p>
              These days I'm living on the evergreen hills of Colombia and I'm open for hire,
              the only condition that is set in stone is that the position must be remote.
              The schedule, the rate, and other aspects are negotiable.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="50%">
        <div *ngIf="showContent" class="pics-container">
          <div id="photo1" @one class="photo-container">
            <app-polaroid caption="Tajikistan ’17" url="assets/pics/Photo_tajikistan"></app-polaroid>
          </div>
          <div id="photo2" @two class="photo-container">
          <app-polaroid caption="Haiti ’18" url="assets/pics/Photo_haiti"></app-polaroid>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class="mouse-container">
    <app-scroll-button *ngIf="showContent" targetPane='pane3'></app-scroll-button>
  </div>
</article>
