<article class="window-pane-container" fxLayout="column" fxFlexFill>
  <div>
    <div class="window"></div>
    <div class="raindrops">
      <div class="borders">
        <div class="border" *ngFor="let i of [].constructor(75)"></div>
      </div>
      <div class="drops">
        <div class="raindrop" *ngFor="let i of [].constructor(75)"></div>
      </div>
    </div>
    <article fxLayout="column wrap" fxLayout.gt-md="row wrap" fxFlexFill>
      <div fxFlex="50%" class="text-box-container">
        <mat-card *ngIf="showContent" @textbox class="text-box">
          <mat-card-title>About</mat-card-title>
          <mat-card-content>
            <p>
              I'm Yuri Drobkov, a digital nomad from Siberia, Russia. My path as a web
              developer started when responsive design was an exciting new concept and
              LAMP stack was considered a feasible option for building huge complex websites.
              These days things are different, the industry is growing more vast and
              complicated by the day, cool kids are using Angular,
              React, Ruby on Rails, you name it...
              And me? I'm just trying to keep up with the unvawering march of time and
              maybe stay just ahead of the crowds.
            </p>
            <p>
              The most recent commercial project I participated in was an internal
              <a href="https://te.remote.team/">web portal</a> for the employees of
              <a href="https://tile.expert/">Tile.Expert</a>, it was built on
              Angular / Symfony / MongoDB stack. It was my first remote job, which gave me
              tons of experience in developing and supporting a large real-world project.
              Now I'm on the lookup for the next one...
            </p>
            <teximate text="Care to make a suggestion?" [enter]="enterAnimation"></teximate>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="50%">
        <div *ngIf="showContent" class="pics-container">
          <div id="photo1" @one class="photo-container">
            <app-polaroid caption="Tajikistan ’17" url="assets/pics/Photo_tajikistan.jpg"></app-polaroid>
          </div>
          <div id="photo2" @two class="photo-container">
          <app-polaroid caption="República Dominicana ’18" url="assets/pics/Photo_dominicana.jpg"></app-polaroid>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class="mouse-container">
    <app-scroll-button *ngIf="showContent" targetPane='pane3'></app-scroll-button>
  </div>
</article>
