@import 'src/styles/variables';
@import 'src/styles/mixins';
@import 'src/styles/window-raindrops';

@mixin styling($image, $noBorder: false) {
  .window {
    background-image: url($image);
  }
  @if $noBorder == false {
    .border { box-shadow: 0 0 0 2px rgba(0,0,0,0.5); }
  }
}

@media screen and (max-width: $menu-breakpoint - 1) {
  @include styling($image: 'assets/pics/xs/stained-glass-background.jpg', $noBorder: true);
  @include raindrops($quantity: 20);
}
@media screen and (min-width: $menu-breakpoint) {
  @include styling($image: 'assets/pics/sm/stained-glass-background.jpg');
  @include raindrops($quantity: 30);
}
@media screen and (min-width: 992px) {
  @include styling($image: 'assets/pics/md/stained-glass-background.jpg');
  @include raindrops($quantity: 40);
}
@media screen and (min-width: $flex-breakpoint) {
  @include styling($image: 'assets/pics/lg/stained-glass-background.jpg');
  @include raindrops($quantity: 50);
}
@media screen and (min-width: 1900px) {
  @include styling($image: 'assets/pics/xl/stained-glass-background.jpg');
  @include raindrops($quantity: 60);
}
@media screen and (min-width: 2560px) {
  @include styling($image: 'assets/pics/stained-glass-background.jpg');
  @include raindrops($quantity: 75);
}

.window-pane-container {
  padding-bottom: $slope-offset;
  min-height: calc(100vh + #{$slope-offset});
}

.window {
  position: absolute;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  margin: -5px;
  background-size: cover;
  background-position: top;
}

.window-content-container {
  min-height: calc(100vh - #{$slope-offset});
}

.pics-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  height: 100%;
}

.photo-container {
  position: absolute;
}

.text-box p{
  @include responsive-font(1rem, 10px, 16px);
}

#photo1 {
  transform: translateX(-60%) translateY(-25%) rotate(5deg);
}

#photo2 {
  transform: translateX(20%) translateY(5%) rotate(-5deg);
}
