@import 'src/styles/variables';
// $image: 'https://i.imgur.com/xQdYC7x.jpg';
$image: 'http://vignette3.wikia.nocookie.net/animal-jam-clans-1/images/b/b7/Dark-Misty-Forest-beautiful-landscapes-37729157-1920-1080.jpg';

//number of raindrops
$raindrops:75;

.window-pane-container{
  z-index: 5;
}

.pics-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  height: 100%;
}

.photo-container {
  position: absolute;
}

#photo1 {
  transform: translateX(-60%) translateY(-25%) rotate(5deg);
}

#photo2 {
  transform: translateX(20%) translateY(5%) rotate(-5deg);
}

.window{
  position:absolute;
  width: calc(#{$width} + 4*#{$blur});
  height: calc(100% + 4*#{$blur});
  background:url($image);
  background-size:cover;
  background-position:50%;
  filter:blur($blur);
  margin: calc(-2*#{$blur});
}
// set all the containers to
// position:absolute, since
// they will overlap
.raindrops,
.borders,
.drops{
  position:absolute;
}

.raindrops {
  top: 0;
}

// little brightness filter so our raindrops look shiny
.drops{
  filter:brightness(1.2);
}

// general settings for all the
// raindrops and borders
.raindrop{
	position:absolute;
  border-radius:100%;
	background-image:url($image);
	background-size:$width*0.05 $height*0.05;
  background-position:50%;
	transform:rotate(180deg) rotateY(0);
}
.border{
	position:absolute;
	margin-left:2px;
	margin-top:1px;
	border-radius:100%;
	box-shadow:0 0 0 2px rgba(0,0,0,0.5);
  transform:rotateY(0);
}

// looping through each one of them
@for $i from 1 through $raindrops{

  // generates a random number from 0 to 1, for the positioning
  $x:random();
  $y:random();

  // Random raindrop size and stretching.
  // Since each raindrop has different sizes, we'll do our sizing calculations here instead of on the main .raindrop selector
 	$drop-width:5px+random(11);
 	$drop-stretch:0.7+(random()*0.5);
	$drop-height:$drop-width*$drop-stretch;
	.raindrop:nth-child(#{$i}){
		// multiply the random position value by the container's size
		left:$x * $width;
		top:$y * $height;

		width:$drop-width;
		height:$drop-height;
    background-position:percentage($x) percentage($y);
	}

	.border:nth-child(#{$i}){
		// we'll do the same positioning for the drop's border
		left:$x * $width;
		top:$y * $height;

		width:$drop-width - 4;
		height:$drop-height;
	}
}
