@import 'src/styles/variables';
@import 'src/styles/mixins';
@import 'src/styles/window-raindrops';


@media screen and (max-width: $menu-breakpoint - 1) {
  border { box-shadow: 0 0 0 2px rgba(0,0,0,0.5); }
  @include raindrops($quantity: 20);
}
@media screen and (min-width: $menu-breakpoint) {
  @include raindrops($quantity: 30);
}
@media screen and (min-width: 992px) {
  @include raindrops($quantity: 40);
}
@media screen and (min-width: $flex-breakpoint) {
  @include raindrops($quantity: 50);
}
@media screen and (min-width: 1900px) {
  @include raindrops($quantity: 60);
}
@media screen and (min-width: 2560px) {
  @include raindrops($quantity: 75);
}

.window-pane-container {
  padding-bottom: $slope-offset;
  min-height: calc(100vh + #{$slope-offset});
}

.window {
  position: absolute;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  margin: -5px;
  @extend %image-wrap;
}

.window-content-container {
  min-height: calc(100vh - #{$slope-offset});
}

.pics-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  height: 100%;
}

.photo-container {
  position: absolute;
}

.text-box p{
  @include responsive-font(1rem, 10px, 16px);
}

#photo1 {
  transform: translateX(-35%) translateY(-20%) rotate(5deg);
}

#photo2 {
  transform: translateX(35%) translateY(20%) rotate(-5deg);
}
