/* You can add global styles to this file, and also import other style files */
@import "~normalize-scss/sass/normalize";
@import 'src/styles/variables';
@import 'src/styles/reset';
@import 'src/styles/mixins';

@include normalize();

@font-face {
  font-family: 'Raleway';
  src: url("assets/fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
  font-family: 'Cedarville';
  src: url("assets/fonts/Cedarville/Cedarville-Cursive.ttf");
}
@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto/Roboto-Regular.ttf");
}

body {
  @media screen and (max-width: $menu-breakpoint - 1) {
    .text-box {
  		box-shadow: none !important;
    }
  }

  font-family: 'Roboto', sans-serif;

  a {
    text-decoration: none;
    color: mat-color($app-primary, 800);
  }

  %flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .flex-center {
    @extend %flex-column;
    align-content: center;
    align-items: center;
  }

  .text-box-container {
    @extend %flex-column;
  }

  .text-box {
    padding: 5%;
    background: rgba(240,230,220, .7) !important;
    margin: 5vw;
    text-align: justify;
    z-index: 28;
    @include responsive-font(1rem, 10px, 18px);
    @extend %hardware;
  }

  .box {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  .mouse-container {
    min-height: 75px;
    height: 75px;
    width: 100%;
    position: relative;
  }

  .angle--top-right {
    position: relative;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 100% calc(0% + 7vw), 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% calc(0% + 7vw), 100% 100%, 0 100%);
  }

  .angle--top-left {
    position: relative;
    overflow: hidden;
    -webkit-clip-path: polygon(0 calc(0% + 7vw), 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 calc(0% + 7vw), 100% 0, 100% 100%, 0 100%);
  }

  .slope-background-container {
    background: mat-color($app-primary, 500);
    width: 100%;
    height: 100%;
    margin: 0 0 (-$slope-offset) 0;
  }

  .slope-background {
    width: 100%;
    margin: $pane-border 0 $pane-border 0;
    padding-bottom: $slope-offset;
  }

  .slope-pane-container {
    min-height: 100vh;
    padding-top: $slope-offset;
  }

  .pane-title {
    text-align: center;
    font-family: $title-font;
    margin-bottom: 3vh;
  }

}
