/* You can add global styles to this file, and also import other style files */
@import "~normalize.css/normalize.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import 'src/styles/reset';
@import 'src/styles/variables';
@import 'src/styles/mixins';


@font-face {
  font-family: 'Raleway';
  src: url("assets/fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
  font-family: 'Raleway-semibold';
  src: url("assets/fonts/Raleway/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: 'Raleway-bold';
  src: url("assets/fonts/Raleway/Raleway-Bold.ttf");
}
@font-face {
  font-family: 'Cedarville';
  src: url("assets/fonts/Cedarville/Cedarville-Cursive.ttf");
}

body {
  a {
    text-decoration: none;
    color: #ff6600;
  }
  a:visited {
    color: gray;
  }
  // a:active {
  //   background: linear-gradient(to right,#fc0b56,#08fdd8);
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
  // }

  %flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .flex-center {
    @extend %flex-column;
    align-content: center;
    align-items: center;
  }

  .text-box-container {
    @extend %flex-column;
  }

  .text-box {
    padding: 5%;
    background: rgba(240,230,220, .7);
    margin: 10vw;
    text-align: justify;
    z-index: 28;
    @include responsive-font(2.5vw, 10px, 18px);
  }
}
