@import 'src/styles/variables';

@mixin styling($size) {
  .stem {
    width: $size;
    border-radius: $size;
  }
}

@media screen and (max-width: $menu-breakpoint - 1) {
  @include styling($size: 1px);
}
@media screen and (min-width: $menu-breakpoint) {
  @include styling($size: 2px);
}
@media screen and (min-width: $flex-breakpoint) {
  @include styling($size: 3px);
}

.drop {
  position: absolute;
  display: block;
  bottom: 100%;
  height: 60px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
}

@keyframes drop {
  from {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(125vh);
  }
}

.stem {
  // width: 3px;
  // border-radius: 3px;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
  animation: stem 0.5s linear infinite;
}

@keyframes stem {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
